{% extends "layout.html" %}

{% block body %}

<div id="body">
    <center>
        <b>Note: </b><br>
        <i>If your username and password is correct you will be logged in. <br>
        If you are a new user, new account will be created and you will be logged in.
        </i>
    </center>
    <center>
        <div class="login-box">
            <center><h2>Login</h2></center>
            <br>
            <br>
            <br>
            <form action="/login" method="POST">
                <div class="user-box">
                    <input type="text" name="user" autocomplete="off" placeholder="Enter Username">
                </div>
                <div class="user-box">
                    <input type="password" name="pass" autocomplete="off" placeholder="Enter Password">
                </div>
                <div class="submit-but">
                    <br><br>
                    <center>
                        <button type="submit">
                            Submit
                        </button>
                    </center>
                </div>
                <br>
                

            </form>
        </div>  
    </center>
</div>
{% endblock %}